<html>
    <head>
        <title>Country Analysis - Pie chart</title>
        <link rel="stylesheet" href="static/styles/indexCSS.css">
    </head>
    <h1 class="heading1"> Country Analysis Treemap </h1>
	<a href="{{url_for('homePage')}}" class="redirectionLink">Back to home</a>
	<p> Select a Country, Time Frame, <br>and Import/Export below<br>to view the Treemap.</p>
    <form id="country_analysis" action="/display_plot" method="POST" style="position_sticky">
		<table>
        <tr>
        <td>
		<select name="country"}>
			{% for x in country_names%}
			{%if x.cname==countryVal%}
			<option value="{{ x.cname }}" selected>{{ x.cname }}</option>
			{%else%}
			<option value="{{ x.cname }}">{{ x.cname }}</option>
			{%endif%}
			{%endfor%}
		</select>
		</td>
        </tr>
        <tr>
        <td>
		<select name="timeFrame">
			{% for x in years%}
			{%if x.year==timeVal%}
			<option value="{{ x.year }}" selected>{{ x.year }}</option>
			{%else%}
			<option value="{{ x.year }}">{{ x.year }}</option>
			{%endif%}
			{%endfor%}
		</select>
        </td>
        </tr>
        <tr>
        <td>
		<select name="Export_Import" selected={{typeVal}}>
			{% for x in indicator_types%}
			{%if x.type_val==typeVal%}
			<option value="{{ x.type_val }}" selected>{{ x.type_val }}</option>
			{%else%}
			<option value="{{ x.type_val }}">{{ x.type_val }}</option>
			{%endif%}
			{%endfor%}
		</select>
		</td>
        </tr>
		<tr>
        <td>
		<input type="submit" value="View Plot"/>
		</td>
		</tr>
		</table>
    </form>
	<div class="imageBlock">
    {% if show_plot == True %}
        <image src="static/treemap2.png" style="object-fit: contain"/>
    {%endif%}
    {% if show_plot==False%}
    <p>Select the filters and click on the view plot</p>
    {%endif%}
    </div>
</html>

