

<!DOCTYPE html>
<html lang="en">
<head>
<title>Network graph</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 340px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
<script type="text/javascript">
            function zoomIn()
            {
                document.getElementById('network_image').style.width=document.getElementById('network_image').clientWidth+100+"px";
                document.getElementById('network_image').style.height=document.getElementById('network_image').clientHeight+100+"px";
            }
            function zooomOut()
            {
                if(document.getElementById('network_image').clientWidth>100 && document.getElementById('network_image').clientHeight>100){
                document.getElementById('network_image').style.width=document.getElementById('network_image').clientWidth-100+"px";
                document.getElementById('network_image').style.height=document.getElementById('network_image').clientHeight-100+"px";
                }

            }
        </script>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="{{url_for('homePage')}}" class="w3-bar-item w3-button w3-theme-l1">Home</a>
    <a href="{{url_for('country_analysis')}}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Task Tree</a>
    <a href="{{url_for('bar_chart')}}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Task Bar</a>
    <a href="{{url_for('network_graph')}}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Task Net</a>
    <a href="{{url_for('display_line_chart')}}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Task Line</a>
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
    <p style="margin-left:10px"> Select a Country, Time Frame,<br>and Import/Export below<br> to view the Network graph.</p>
    <form id="country_analysis" action="/display_network_graph_with_plotly" method="POST" style="position: sticky;">
        <table>
        <tr>
        <td>
        <select name="country2" style="margin-left:10px">
            {% for x in country_names%}
            {%if x.cname==countryVal%}
            <option value="{{ x.cname }}" selected>{{ x.cname }}</option>
            {%else%}
            <option value="{{ x.cname }}">{{ x.cname }}</option>
            {%endif%}
            {%endfor%}
        </select>
        </td>
        </tr>
        <tr>
        <td>
        <select name="timeFrame2" style="margin-left:10px">
            {% for x in years%}
            {%if x.year==timeVal%}
            <option value="{{ x.year }}" selected>{{ x.year }}</option>
            {%else%}
            <option value="{{ x.year }}">{{ x.year }}</option>
            {%endif%}
            {%endfor%}
        </select>
        </td>
        </tr>
        <tr>
            <td>
                <select name="ImportOrExport" style="margin-left:10px">
                    {%for x in importExportType%}
                    {%if x.imporexp==impVal%}
                    <option value="{{x.imporexp}}" selected>{{x.imporexp}}</option>
                    {%else%}
                    <option value="{{x.imporexp}}">{{x.imporexp}}</option>
                    {%endif%}
                    {%endfor%}
                </select>
            </td>
        </tr>
    <tr>
        <td>
        <input type="submit" value="View Plot"/>
    </td>
    </tr>
    </table>
    </form>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:340px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Network Graph Visualization</h1>
    </div>
  </div>

  <div class="w3-row">
    <!--<div class="w3-twothird w3-container">
      {% if show_plot == True %}
        <table>
          <tr>
          <td><image src="static/networkgraph.png" id="network_image"/></td>
          <td><button onclick="zoomIn()"><span class="glyphicon glyphicon-zoom-in" style="float:right;top:0px;"></span></button><br/>
            <button><span class="glyphicon glyphicon-zoom-out" style="float:right;top:0px; " onclick="zooomOut()"></span></button></td>
          </tr>
        </table>
      {%endif%}
      {% if show_plot==False%}
        <p>Select the filters and click on the view plot</p>
      {%endif%}
    </div>-->
    <div class="w3-twothird w3-container">
    <div id='chart' class='chart'></div>
    </div>
  </div>
  
  <footer id="myFooter">
    <div class="w3-container w3-theme-l2 w3-padding-32" style="margin-top:410px">
      <h4>CMSC 436 Loading... Project</h4>
    </div>

    <div class="w3-container w3-theme-l1">
      <p>Powered by Jameson Carpenter and <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>
  </footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

</body>
</html>
