@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
ul{
    display: grid;
    gap: 10px;
}

body{
    background-color: bisque;
    left:1%;
    position: relative;
    overflow-x: scroll;

}

.heading1{
    position: relative;
    left:35%;
	align: center;
}
.redirectionLink{
    right:1%;
    left:90%;
	bottom:5%;
    position: relative;
}

select{
    min-width: 160px;
}

.imageBlock{
    position: absolute;
    left:20%;
    top:10%;
    background-color: transparent;
    margin:auto;
    width:1000px;
    height:1000px;
}

.imageBlock img{
    width:800px;
    height: 800px;
    display: flex;
    align-items:display_flex;
}

.imageBlockSankey{
    position: absolute;
    left:20%;
    top:10%;
    background-color: transparent;
    margin:auto;
    width:100%;
    height:100%;
}

.imageBlockSankey img{
    display: flex;
    align-items:display_flex;
}