
ul{
    display: grid;
    gap: 10px;
}

body{
    background-color: bisque;
    left:1%;
    position: relative;
    overflow: hidden;
}

.heading1{
    position: relative;
    left:35%;
}
.redirectionLink{
    right:1%;
    left:90%;
    min-width: 160px;
}

.imageBlock{
    position: absolute;
    left:30%;
    top:10%;
    background-color: white;
    margin:auto;
    width:1000px;
    height:100%;
}

.imageBlock img{
    width:800px;
    height: 800px;
    display: flex;
    align-items:flex-start;
}